
body {
    background-color:gray;
    color:lightgreen;
    margin:0 4px 0 0;
    border:15px solid;
} 

p { color:white;
    margin:0 60px 0 0;
    text-align:justify;
}
 
 background:url(https://wallpapercave.com/wp/vjaSDB8.jpg);
   
           